{% extends 'kakeibo/layout.html' %}
{% block content %}
<form class="ui expense form" action="" method="post">
    {% csrf_token %}
    <div class="field expense modal">
        <label>{{ form.date.label }}</label>
        <div id="calendar" class="field ui calendar required">
            <div class="ui fluid input left icon">
                {{ form.date }}
                <i class="calendar icon"></i>
            </div>
        </div>
    </div>

    <div class="field">
        <label>{{ form.category.label }}</label>
        {{ form.category }}
    </div>

    <div class="field">
        <label>{{ form.money.label }}</label>
        <div class="ui fluid left icon input">
            {{ form.money }}
            <i class="yen sign icon"></i>
        </div>
    </div>

    <div class="field">
        <label>{{ form.memo.label }}</label>
        <div class="ui fluid left icon input">
            {{ form.memo }}
            <i class="pencil alternate icon"></i>
        </div>
    </div>

    <div class="actions">
        <a href="{% url 'kakeibo:kakeibo_list' %}" class="ui right floated button">戻る</a>
        <button class="ui right floated primary button" type="submit">
            <i class="checkmark icon"></i> 登録
        </button>
    </div>
</form>

{% endblock %}