{% extends 'kakeibo/layout.html' %}
{% block content %}
<!-- table -->
<table id="id_div_ajax_response" class="ui unstackable very basic table">
    <thead>
    <tr>
        <th></th>
        <th>日付</th>
        <th>カテゴリ</th>
        <th>金額</th>
        <th>メモ</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="js-table-row">
        {% for item in object_list %}
        <tr>
            <td class="js-expense-or-earning-label">
                <div class="ui big red horizontal label">支出</div>
            </td>
            <td class="js-event-date">{{ item.date }}</td>
            <td class="js-category">{{ item.category }}</td>
            <td class="js-amount">{{ item.money }}</td>
            <td class="js-memo">{{ item.memo }}</td>
            <td class="js-management-button right aligned">
                <a href="{% url 'kakeibo:kakeibo_update' item.pk %}"><div class="ui button">編集</div></a>
                <a href="{% url 'kakeibo:kakeibo_delete' item.pk %}">
                    <button class="ui red button delete-expense-1278">削除</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
