<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- semantic ui css  -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.min.css">
    <!-- semantic ui calendar css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/0.0.8/calendar.min.css" />
    <!-- jquery toast css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css">
    <!-- kakeibo style css -->
    <link rel="stylesheet" type="text/css" href="/static/kakeibo/css/style.css">
    <title>Kakeibo</title>
</head>
<body>
	<!-- chart.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  	<!-- jQuery -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<!-- semantic.js  -->
  	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.min.js"></script>
  	<!-- semantic ui calendar js -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/0.0.8/calendar.min.js"></script>
  	<!-- jquery toast js -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"></script>
	<!-- kakeibo functions js -->
	<script type="text/javascript" src="/static/kakeibo/js/functions.js"></script>

	<div class="ui main stackable container">

		<!-- menu -->
		<div class="ui stackable small menu" style="margin: 14px 0 50px;">
			<div class="ui dropdown item">収支管理<i class="dropdown icon"></i>
			  <div class="menu">
				<a class="item" href="{% url 'kakeibo:kakeibo_list' %}">収支管理 </a>
				<a class="item" href="/records_management/">収支履歴 </a>
				<a class="item" href="/categories_management/">カテゴリ管理 </a>
				<a class="item" href="/records_management/latest_registration_list/">直近登録履歴 </a>
			  </div>
			</div>
			<a class="item" href="{% url 'kakeibo:kakeibo_create' %}">支出登録 </a>
			<a class="item" href="{% url 'kakeibo:circle_chart' %}">分析(全体) </a>
			<a class="item" href="{% url 'kakeibo:linear_chart' %}">分析(月ごと) </a>
			<a class="item" href="/contact/">お問い合わせ </a>
			<div class="right menu">
			  <div class="item">
				<a href="/logout/">
				  <div class="ui primary button">ログアウト</div>
				</a>
			  </div>
			</div>
		</div>
		<!-- content -->
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>
