{% extends 'kakeibo/layout.html' %}
{% block content %}
<div class="chart_container">
    <canvas id='LineChart' style="position: relative; height:25vh; width:25vw"></canvas>
</div>
<hr>
<table id=kakeibo_list width="100%" class="ui selectable celled striped table">
    <thead>
        <tr style="background-color:rgb(224, 228, 226)">
            <th>日付</th>
            <th>カテゴリ</th>
            <th>合計金額</th>
        </tr>
    </thead>
    <tbody>
        {% for date, category, total in matrix_list %}
        <tr>
            <td>{{ date }}</td>
            <td>{{ category }}</td>
            <td>{{ total }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- キャンバスの定義-->
<style>
    @media screen and (min-width: 768px) {
        .chart_container {
            width: 640px;
            margin: auto;
        }
    }
</style>

<!-- 折れ線グラフの設定-->
<script>
    var ctx = document.getElementById("LineChart").getContext('2d');
    var DiskChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels:[
            {% for item in x_label %}
            '{{item}}',
            {% endfor %}],

            datasets: [
            {% for category_name in category_list %}
            {
                label: "{{category_name}}",
                fill: false,
                {% for category, color in border_color %}
                {% if category == category_name %}
                borderColor : "rgba({{color}})",
                {% endif %}
                {% endfor %}

                {% for category, color in background_color %}
                {% if category == category_name %}
                backgroundColor : "rgba({{color}})",
                {% endif %}
                {% endfor %}

                data: [
                {% for time_label in x_label %}

                {% for date, category, total in matrix_list %}
                {% if category == category_name %}
                {% if date == time_label %}
                {{total}},
                {% endif %}
                {% endif %}
                {% endfor %}
                {% endfor %}
                ],
            },
            {% endfor %}
            ]
        },

        options: {
            responsive: true,
            scales: {
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: '時間'
                    },
                    ticks: {           // 目盛り
                        maxRotation:0, //X軸の表示角度調整
                        minRotation:0  //X軸の表示角度調整
                    },
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: '合計金額（円）'
                    },
                    ticks:{
                        min: 0,   // 最小値
                    }
                }],
            },
            title: {
                display: true,         // 表示設定
                pocision: "top",       // 表示位置
                fontSize: 30,          // フォントサイズ
                fontColor: "black",    // 文字の色
                text: "月毎の合計金額推移" // タイトル文字列
            },
        }
    });
</script>
{% endblock content %}