{% extends 'kakeibo/layout.html' %}
{% block content %}
<div class="chart_container">
    <canvas id='CircleChart' style="position: relative; height:25vh; width:25vw"></canvas>
</div>
<hr>
<table id=kakeibo_list width="100%" class="ui selectable celled striped table">
    <thead>
        <tr style="background-color:rgb(224, 228, 226)">
            <th>カテゴリ</th>
            <th>割合</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in category_dict.items %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- キャンバスの定義-->
<style>
    @media screen and (min-width: 768px) {
        .chart_container {
            width: 640px;
            margin: auto;
        }
    }
</style>

<!-- 描画する円グラフの定義-->
<script>
    var ctx = document.getElementById('CircleChart').getContext('2d');
    var data = [
                [
                 {% for key, value in category_dict.items %}
                  '{{key}}',
                 {% endfor %}
                ],

                [
                {% for key, value in category_dict.items %}
                   {{value}},
                {% endfor %}
                ]]

    var myChart = new Chart(ctx, {
        type: 'pie',

        data: {
            labels: data[0],
            datasets: [{
                data:  data[1],
                backgroundColor: ["rgba(255,241,15,0.8)","rgba(54,164,235,0.8)",
                    "rgba(0,255,65,0.8)","rgba(214,216,165,0.8)","rgba(255,94,25,0.8)",
                    "rgba(84,77,203,0.8)","rgba(140,140,140,0.8)","rgba(171,255,127,0.8)",
                    "rgba(50,204,18,0.8)","rgba(234,210,173,0.8)"],
            },
        ]},
        options: {
            title: {
                display: true,
                pocision: "top",
                fontSize: 30,
                fontColor: "black",
                text: "カテゴリ毎の合計金額割合"
            },
        },
    });
</script>
{% endblock content %}